*{
    margin:0;
    padding:0;
}
body{
}
.main{
    width:90%;
    margin:auto;
}
.main h2{
    text-align: center;
    margin-top: 5px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
table td ,table th{
    border: solid #e2e2e2 1px;
    text-align: center;
    line-height:50px;
    color:#373737;
    background:#fff;
}
table th{
    background: #eaf6fd;
}
.main .all{
    margin-top:10px;
}
.main .all .title{
    font-weight:bold;
    font-size:18px;
    padding:0 0 5px 0;
}
